<!DOCTYPE html>
<html>
    <head>
        <title>ON GIUA KY</title>
        <link rel="stylesheet" href="index.css" >
    </head>
    <body>
        <div class="content">
            <form action="/" method="POST" enctype="multipart/form-data">
                <input type="text" name="ma_sp" placeholder ="Nhập mã sản phẩm">
                <input type="text" name="ten_sp" placeholder="Nhập tên sản phẩm" >
                <input type="number" name="sl_sp" placeholder="Nhập số lượng sản phẩm" >
                <input type="submit" value="Thêm">
                <input type="submit" value="Xoá"/>
            </form>
            <form id="delete" method="POST" action="/delete" enctype="multipart/form-data">
                <div class=""title>
                    <h5>Danh sách sản phẩm</h5> 
                </div>
                <table border="1">
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng sản phẩm</th>
                        <th>Chọn</th>
                    </tr>
                    <% for (let i=0;i<sanPhams.length;i++) { %>
                        <tr>
                            <td><%=sanPhams[i].ma_sp%></td>
                            <td><%=sanPhams[i].ten_sp%></td>
                            <td><%=sanPhams[i].sl_sp%></td>
                            <td><input type="checkbox" name="<%=sanPhams[i].ma_sp%>"></td>
                        </tr>
                    <%  } %>
                </table>
            </form>
        </div>
    </body>
</html>